.repos th{
	cursor : pointer;
	background-color: #f44;
	color: #fff;
}

.repos th:hover, .repos th:active {
	background-color: #f66;
}

.ng-enter{
	transition: all .4s ease-in;
}

.ng-enter-active{
	transition: all .4s ease-in;
	
}

td a{
	color: #08f;
}