.repos th{
	cursor : pointer;
	background-color: #f44;
	color: #fff;
}

.repos th:hover, .repos th:active {
	background-color: #a22;
}

td a{
	color: #0ac18a;
}

tr:nth-child(even){
	background-color: #555;
}

.notice{
margin: 1em auto 1em auto;
}